<!-- Email Section -->
<div *ngIf="success" class="email-container">
    <!-- Email Button -->
    <button type="button" class="phem-nt-btn mr-20 email-button"
        onclick="window.open('https://web.phone.email','_blank')">
        <span>
            <!-- Email Button Icon -->
            <svg width="32" height="23" viewBox="0 0 32 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M30.4594 0H1.60313C0.734767 0 0 0.734767 0 1.60313V20.7071C0 21.5754 0.734767 22.3102 1.60313 22.3102H30.3926C31.261 22.3102 31.9958 21.5754 31.9958 20.7071V1.60313C32.0626 0.734767 31.3278 0 30.4594 0ZM16.0313 14.7621L2.2711 1.33594H29.7915L16.0313 14.7621ZM10.4871 11.2219L1.33594 20.1059V2.2711L10.4871 11.2219ZM11.4223 12.1571L15.5637 16.1649C15.8309 16.4321 16.2317 16.4321 16.4989 16.1649L20.6403 12.0903L29.7247 20.9743H2.3379L11.4223 12.1571ZM21.5754 11.2219L30.7266 2.2711V20.1059L21.5754 11.2219Z"
                    fill="#024430" />
            </svg>
        </span>
        <section *ngIf="emailCount != '0'">
            <span class="phem-pill-badge phem-blink email-button-badge" id="btn_view_email">
                {{ emailCount }}
            </span>
        </section>
    </button>
</div>

<!-- Authentication Card Section -->
<div class="auth-card">
    <div class="container">
        <!-- Display Success Message if 'success' is true -->
        <div *ngIf="success; else elseBlock">
            <!-- Success Icon Container -->
            <div class="icon-container">
                <!-- Success Icon -->
                <div class="success-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M15 9l-6 6-3-3" />
                    </svg>
                </div>
            </div>
            <!-- Success Text Container -->
            <div class="text-container">
                <!-- Success Heading -->
                <h3 class="primary-text">Sign In Successful</h3>
                <!-- Success Subtext -->
                <small class="secondary-text">You're logged in with <span><br />{{ message }}</span></small>
            </div>
        </div>
        <!-- If 'success' is false, display the 'elseBlock' content -->
        <ng-template #elseBlock>
            {{ message }}
        </ng-template>
    </div>
</div>