<style>
  .auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 30px;
  }

  .auth-box {
    color: #024430 !important;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(17, 24, 39, .09);
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    font-family: sans-serif, serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .auth-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
    background-color: #02BD7E;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: inherit;
    cursor: pointer;
    max-width: 320px;
    width: 100%;
  }
</style>

<main class="main">
  <div *ngIf="!hasToken" class="auth-container">
    <div class="auth-box">
      <img class="phe-login-img" width="250px"
        src="https://storage.googleapis.com/prod-phoneemail-prof-images/phem-widgets/phe-signin-box.svg"
        alt="phone email login demo" />
      <h1 style="margin: 10px;">Sign In</h1>
      <p style="color: #a6a6a6;">Welcome to Sign In with Phone</p>
      <button (click)="openAuthWindow()" class="auth-button">
        <img src="https://storage.googleapis.com/prod-phoneemail-prof-images/phem-widgets/phem-phone.svg"
          alt="phone email" style="margin-right: 10px;" />
        Sign In with Phone
      </button>
    </div>
  </div>

  <div *ngIf="hasToken">
    <div class="auth-container">
      <div class="auth-box">
        <img class="phe-login-img" width="250px"
          src="https://storage.googleapis.com/prod-phoneemail-prof-images/phem-widgets/phe-signin-success.svg"
          alt="phone email login demo" />
        <div class="phem-card-body">
          <h1>Welcome!</h1>
          <h4 style="line-height: 36px;">You are logged in successfully with <br /> {{ userDetails.countryCode }} {{
            userDetails.phoneNo }}</h4>
        </div>
        <button (click)="handleBack()" class="auth-button">Back</button>
      </div>
    </div>
  </div>

</main>
<router-outlet></router-outlet>